body{
    margin: 0;
}
.section_prop{
    display: flex;
    padding: 20px;
}
.Head_wrd{
    color: rgb(0, 95, 184);
}
h1{
    font-size: 50PX;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-bottom: 40px;
}
.button-dg{
    text-decoration: none;
    background-color: skyblue;
    background-image: linear-gradient(skyblue, royalblue);
    color: whitesmoke;
    font-weight: 800;
    padding: 2%;
    border-radius: 25px;

}
.div_prop{
    padding: 50px;
    width: 50%;
}
.div_prop img{
    width: 70%;
    height: auto;
}
.second_sec{
    display: flex;
    background-image: url(image/2nd_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#img-bottom{
    width: 50%;
    position: unset;
    bottom: 0;
}
.solo-div{
    text-align: center;
}
.boxing{
    padding: 15px;
    margin: 80px;
    width: 33%;
    box-shadow: 5px 5px 5px 5px skyblue;
    border-radius: 10px;
}
.boxing img{
    width: 100%;
}
#boxed-sec{
    display: flex;
    margin: 50px 100px;
    box-shadow: 5px 5px 5px 5px skyblue;
    border-radius: 10px;
}
.boxed-sec-div{
    width: 33%;
    text-align: center;
}
.last-word{
    color: rgb(255, 255, 255);
}
footer{
    padding: 30px;
    text-align: center;
    background-color: rgb(12, 166, 228);
    height : 200px;
    margin-bottom:0;
}